MQTT_HOST=mqtt
MQTT_PORT=1883
FACE_API_BASE_URL=http://host.docker.internal:5000
FACE_API_TIMEOUT_SECONDS=10

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=faceuser
MYSQL_PASSWORD=facepass
MYSQL_DATABASE=face_auth
